*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.NhaSiNoiBat{
    border: 1px solid black;
    width: 470px;
    height:550px;
    line-height: 25px;
}
.star{
    color: rgb(241, 210, 7);
    font-size: larger;
}
h2{
    color: orangered;
}
#siuu{
    color: rgb(102, 216, 102);
}
h1,h2,h3{
    padding:0 0 0 15px;
}
h3{
    color: grey;
    padding:0 4px 0 15px
}
