*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}
.container {
    margin: 15px;
    width: 450px;
    font-family: cursive;
}
.container .title h2{
    background-color: cyan;
    text-align: center;
    padding: 25px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.container .title .HOT{
    background-color: red;
    color: white;
    width: fit-content;
    border-radius: 15px;
    position: absolute;
    top: 25px;
    left: 400px;
    padding:5px;
}
.container .content{
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
    font-size: larger;
    line-height: 70px;
}
.container .content span{
    color: rgb(16, 143, 16);
}
.container button{
    font-size: 20px;
    border: none;
    border-radius: 100px;
    padding: 20px 90px 20px 90px;
    background-color: rgb(0, 145, 255);
    margin-left: 20px;
    font-weight: bold;
}