*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: aliceblue;
}
.card{
    background-color:  white;
    width: 500px;
    height: fit-content;
    border:none;
    border-radius: 20px;
    padding: 20px;
    line-height: 30px;
}
.card .title h3{
    width: fit-content;
    height: fit-content;
    padding: 0px 10px 0px 10px;   
    color: rgb(190, 110, 12);
    border: none;
    border-radius: 25px;
    background-color: bisque;
    position:absolute;
    top: 15px;
    left: 300px;
}
.progress-bar {
    width: 100%;
    height: 10px;
    background: #e5e7eb;
    border-radius: 999px;
    margin-bottom: 12px;
}

.progress {
    height: 100%;
    width: 65%;
    background: #22c55e;
    border-radius: 999px;
}