*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    width: 450px;
    height: fit-content;
    border: 1px solid black;
    padding: 15px;
}
h1{
    color: green;
    text-align: center;
}
label{
    color: green;
    font-weight: bold;
    border-radius: 5px;
    line-height: 30px;
}
input{
    width: 430px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}
select{
    width: 400px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}
.ykien input{
    width: 430px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-bottom: 70px;
}
button{
    background-color: rgb(59, 186, 215);
    color: white;
    width: 400px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}